* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  padding: 20px 70px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5dbc6;
  border-bottom: 1px solid #464242;
  width: 100%;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

nav {
  flex-grow: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 21px;
  transition: color 0.3s ease;
}

header .title {
  text-decoration: none;
  color: #333;
  font-size: 30px;
  transition: color 0.3s ease;
}
