* {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px 20px 60px; /* Adjust padding to account for footer height */
    background-color: #f4f4f4;
    position: relative; /* Ensure footer is positioned relative to body */
    min-height: 100vh; /* Ensure body takes full height of viewport */
    box-sizing: border-box; /* Include padding in height calculation */
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #666;
    text-align: left;
    margin-top: 20px;
}

.subtitle,
.username,
.restaurant-name {
    display: inline; /* Change display property to inline */
    white-space: nowrap; /* Prevent wrapping */
}

.subtitle {
    font-size: large;
    color: #444;
}

.username {
    font-weight: bold;
    color: #1a73e8; /* Blue color */
}

.restaurant-name {
    font-style: italic;
    color: #d32f2f; /* Red color */
}

.refresh-time {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #666;
}

button {
    display: block;
    margin: 5px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.column {
    flex: 1;
    min-width: 300px;
    max-width: 33%;
}

.review {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review img {
    border-radius: 50%;
    margin-right: 15px;
}

.review-details {
    max-width: 500px;
}

.review-details .username {
    font-weight: bold;
    color: #333;
}

.review-details .stars {
    color: #f39c12;
}

.review-details .date {
    font-size: 0.9em;
    color: #999;
}

.review-details .review-text {
    margin-top: 5px;
    color: #555;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.review-header .username {
    margin-right: 5px; /* Reduced margin-right */
}

.review-details .stars {
    margin-right: 5px; /* Reduced margin-right */
}

/* Media Query for Medium Screens */
@media (max-width: 1200px) {
    .column {
        flex-basis: 45%;
        max-width: 45%;
    }
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .columns-container {
        flex-direction: column;
    }

    .column {
        flex-basis: 100%;
        max-width: 100%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e5dbc6; /* Background color */
    border-bottom: 1px solid #464242; /* Border bottom */
  }
  
  /* Logo style */
  header h1 {
    margin: 0;
    font-size: 30px; /* Adjust font size as needed */
    font-weight: bold;
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
  }
  
  /* Navigation style */
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-left: 20px; /* Adjust spacing between links */
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #333; /* Link color */
    font-size: 21px; /* Adjust font size as needed */
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    transition: color 0.3s ease; /* Smooth transition on color change */
  }
  
  /* Specificity increased to target anchor tag inside header */
  header .title {
    text-decoration: none;
    color: #333; /* Link color */
    font-size: 30px; /* Adjust font size as needed */
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    transition: color 0.3s ease; /* Smooth transition on color change */
  }

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

footer p {
    margin: 5px 0;
}
