{% extends 'header.html' %} 

{% block styles %}
<link
  type="text/css"
  rel="stylesheet"
  href="{{ url_for('static', filename='confirm_restaurant.css') }}"
/>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Confirm Restaurant</h1>
  <form
    method="POST"
    action="{{ url_for('ratespotter_blueprint.confirm_restaurant') }}"
  >
    <ul>
      {% for restaurant in matching_restaurants %}
      <li>
        <input
          type="radio"
          id="{{ restaurant.location_id }}"
          name="selected_restaurant_id"
          value="{{ restaurant.location_id }}"
          required
        />
        <label for="{{ restaurant.location_id }}"
          >{{ restaurant.name }} - {{ restaurant.address }}</label
        >
      </li>
      {% endfor %}
    </ul>
    <button type="submit">Confirm</button>
  </form>
</div>
{% endblock %}