{% extends 'header.html' %} 

{% block styles %}
<link
  type="text/css"
  rel="stylesheet"
  href="{{ url_for('static', filename='form.css') }}"
/>
{% endblock %} 


{% block content %}
<div>
  <h2>Login</h2>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <form method="POST" action="{{ url_for('ratespotter_blueprint.login') }}">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" required />
    </div>

    <button type="submit">Login</button>
  </form>
</div>
<div class="centered-container">
  <a class="prompt_link" href="{{ url_for('ratespotter_blueprint.register') }}"
    >Don't have an account? Register</a
  >
</div>

{% endblock %}
