{% extends 'header.html' %} 

{% block styles %}
<link
  type="text/css"
  rel="stylesheet"
  href="{{ url_for('static', filename='select_restaurant.css') }}"
/>
{% endblock %} 

{% block content %}
<div class="container">
  <h1>Select Restaurant</h1>
  <form method="POST" action="{{ url_for('ratespotter_blueprint.select_restaurant') }}">

    <ul>
      {% for restaurant in matching_restaurants %}
      <li>
        <input
          type="radio"
          name="selected_restaurant_id"
          value="{{ restaurant.id }}"
          required
        />
        <label for="{{ restaurant.id }}">{{ restaurant.name }} - {{ restaurant.address }}</label>


        <input
          type="hidden"
          name="selected_restaurant_name"
          value="{{ restaurant.name }}"
          required
        />
        <input
          type="hidden"
          name="selected_restaurant_address"
          value="{{ restaurant.address }}"
          required
        />
        

      </li>
      {% endfor %}
    </ul>

    <button type="submit">Select</button>

  </form>
</div>
{% endblock %}

