{% extends 'header.html' %} {% block styles %}
<link
  type="text/css"
  rel="stylesheet"
  href="{{ url_for('static', filename='user_homepage.css') }}"
/>
{% endblock %} {% block header_routes %}
<li><a href="{{ url_for('ratespotter_blueprint.logout') }}">Logout</a></li>
{% endblock %} {% block content %}

<div class="container">
  <span class="subtitle">Hello, </span>
  <span class="username">{{ username }}</span>
  <span class="subtitle">!</span> 
  <br/>
  <span class="subtitle">Restaurant: </span>
  <span class="restaurant-name">{{restaurant_name}}</span>

  <button>Refresh</button>
  <span class="refresh-time">Last Refreshed: 13:45:20</span>

  <div class="columns-container">
    <div class="column">
      <h2>Tripadvisor rating: 4.2/5</h2>

      {% for review in tripadvisor_reviews %}

      <div class="review">
        <img
          src="{{ review['avatar_small'] | default('https://via.placeholder.com/50') }}"
          alt="User Image"
        />
        <div class="review-details">
          <div class="review-header">
            <span class="username"
              >{{ review["user"] | default("Unknown User") }}</span
            >
            <span class="stars">⭐⭐⭐⭐⭐</span>
            <span class="date"
              >{{ review["post_date"] | default("Unknown Date") }}</span
            >
          </div>
          <span class="review-text"
            >{{ review["text"] | default("Unknown Date") }}</span
          >
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="column">
      <h2>Yelp rating: 4.2/5</h2>
      <div class="review">
        <img src="https://via.placeholder.com/50" alt="User Image" />
        <div class="review-details">
          <div class="review-header">
            <span class="username">username</span>
            <span class="stars">⭐⭐⭐⭐⭐</span>
            <span class="date">date</span>
          </div>
          <span class="review-text">5 stars! great food</span>
        </div>
      </div>
      <div class="review">
        <img src="https://via.placeholder.com/50" alt="User Image" />
        <div class="review-details">
          <div class="review-header">
            <span class="username">username</span>
            <span class="stars">⭐⭐⭐⭐⭐</span>
            <span class="date">date</span>
          </div>
          <span class="review-text">5 stars! great food</span>
        </div>
      </div>
      <div class="review">
        <img src="https://via.placeholder.com/50" alt="User Image" />
        <div class="review-details">
          <div class="review-header">
            <span class="username">username</span>
            <span class="stars">⭐⭐⭐⭐⭐</span>
            <span class="date">date</span>
          </div>
          <span class="review-text">5 stars! great food</span>
        </div>
      </div>
      <!-- Add more reviews for Yelp here -->
    </div>

    <div class="column">
      <h2>Google rating: 4.2/5</h2>
      <div class="review">
        <img src="https://via.placeholder.com/50" alt="User Image" />
        <div class="review-details">
          <div class="review-header">
            <span class="username">username</span>
            <span class="stars">⭐⭐⭐⭐⭐</span>
            <span class="date">date</span>
          </div>
          <span class="review-text">5 stars! great food</span>
        </div>
      </div>
      <div class="review">
        <img src="https://via.placeholder.com/50" alt="User Image" />
        <div class="review-details">
          <div class="review-header">
            <span class="username">username</span>
            <span class="stars">⭐⭐⭐⭐⭐</span>
            <span class="date">date</span>
          </div>
          <span class="review-text">5 stars! great food</span>
        </div>
      </div>
      <div class="review">
        <img src="https://via.placeholder.com/50" alt="User Image" />
        <div class="review-details">
          <div class="review-header">
            <span class="username">username</span>
            <span class="stars">⭐⭐⭐⭐⭐</span>
            <span class="date">date</span>
          </div>
          <span class="review-text">5 stars! great food</span>
        </div>
      </div>
      <!-- Add more reviews for Google here -->
    </div>
  </div>
</div>
<footer>
  <p>RateSpotter &copy; 2024 | All rights reserved</p>
  <p>Contact us: info@ratespotter.com</p>
</footer>
{% endblock %}
